<%- include("./partials/header"); %>

<h1>Contact</h1>
<p>Have a question, feedback, or just want to say hello? We'd love to hear from you! Get in touch with us using the contact information below:</p>
<br>

<ul>
    <li><b>Email at:</b>contact@storysparks.com</li>
    <li><b>Phone :</b>+91 89516 50259</li>
    <li><b>Address</b>123 Main Street Anytown, USA Postal Code: 12345</li>
</ul>

<p>Alternatively, you can fill out the form below, and we'll get back to you as soon as possible:</p>
<br>
<p>We're committed to providing excellent customer service and ensuring that your experience with Story Sparks is seamless and enjoyable. Whether you have inquiries about our platform, need assistance with technical issues, or want to share your thoughts and suggestions, we're here to help.</p>
<br>
<p><b>Thank you for choosing Story Sparks. We look forward to connecting with you!</b></p>

<%- include("./partials/footer"); %>